.body {
    margin: 0;
    font-family: Arial;

}


.topnav {

    overflow: hidden;
    background-color: peru;

}



.topnav a {

    float: left;
    color: deeppink;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


.topnav a:hover {
    background-color: blueviolet;
    color: aqua;


}


.topnav a:active {
    background-color: rgb(226, 183, 43);
    color: rgb(43, 255, 0);
}

.pimg3{
position: relative;
 background-position: center;
 background-size: cover;
 background-attachment: fixed;
 background-image: url('5.0.jpg');
 min-height: 400px;


}

.section{
    padding: 50,88 px;
background-color: rgb(108, 112, 105);
color: ghostwhite;
text-align: justify;
}




.ptext
{position: absolute;
    top: 50%;

width: 100%;
text-align: center;
color: lightsalmon;
font-size: 27px;
letter-spacing: 8px;
text-transform: uppercase;


}
.footer section{
    background-color: darkgrey;
    color:white;
    padding: 40px 0;
}
.footer-cta{

    display: flex;
    justify-content: center;
   align-items: center;
   max-width: 1200px;
   margin:auto; 
}
.cta-item{
    display: flex;
       align-items: center;
       gap: 15px;
       padding: 10px;
}
.cta-item i{
    font-size: 24px;
    color: orange;
}
.cta-item h4{
    margin: 0%;
    font-size: 18px;
    font-weight: bold;
}
.cta-item span{
    font-size: 14px;
    color:rgb(216, 146, 54)
}
